# Set the model to use here
GEMINI_MODEL=gemini-3.5-flash
# Optional fallback model(s), separated by comma
#FALLBACK_MODEL=gemini-3.5-flash-lite
# Set your AI Studio key here
GEMINI_API_KEY=''
# Uncomment if you have billing enabled in AI Studio to raise the rate limits to Tier 1
#AI_STUDIO_PAID_TIER=True
# Uncomment to enable Vertex AI/Gemini Enterprise Platform - requires gcloud CLI and ADC setup
#GOOGLE_GENAI_USE_ENTERPRISE=True
#GOOGLE_CLOUD_LOCATION=global
# Uncomment to enable flex service tier
#GOOGLE_GENAI_USE_FLEX_MODE=True

